[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "requests",
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
build = "cp39-*"
skip = "*-musllinux_*" # not supported (libwebrtc is using glibc)

before-build = "pip install requests && python rust-sdks/download_ffi.py --output livekit/rtc/resources"

manylinux-x86_64-image = "manylinux_2_28"
manylinux-i686-image = "manylinux_2_28"
manylinux-aarch64-image = "manylinux_2_28"
manylinux-ppc64le-image = "manylinux_2_28"
manylinux-s390x-image = "manylinux_2_28"
manylinux-pypy_x86_64-image = "manylinux_2_28"
manylinux-pypy_i686-image = "manylinux_2_28"
manylinux-pypy_aarch64-image = "manylinux_2_28"

[tool.cibuildwheel.linux]
repair-wheel-command = "auditwheel repair --exclude libXrandr.so.2 --exclude libXfixes.so.3 --exclude libXdamage.so.1 --exclude libXcomposite.so.1 --exclude libXext.so.6 -w {dest_dir} {wheel}"
