name: Build Protocol

on:
  push:
    branches:
      - main
    paths:
      - livekit-protocol/**
    tags:
      - "protocol-v*.*.*"
  pull_request:
    branches:
      - main
    paths:
      - livekit-protocol/**
  workflow_dispatch:

env:
  PACKAGE_DIR: ./livekit-protocol

jobs:
  generate_protobuf:
    runs-on: ubuntu-latest
    name: Generating protobuf
    if: github.event_name == 'pull_request'

    defaults:
      run:
        working-directory: ${{ env.PACKAGE_DIR }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: actions/setup-python@v4

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "25.1"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: generate python stubs
        run: ./generate_proto.sh

      - name: Add changes
        uses: EndBug/add-and-commit@v9
        with:
          add: '["livekit-protocol/"]'
          default_author: github_actions
          message: generated protobuf

  build_wheels:
    name: Build Protocol wheel/sdist
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.PACKAGE_DIR }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-python@v4

      - name: Build wheel & sdist
        run: |
          pip3 install build wheel
          python3 -m build --wheel --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: protocol-release
          path: |
            livekit-protocol/dist/*.whl
            livekit-protocol/dist/*.tar.gz

  publish:
    name: Publish Protocol release
    needs: build_wheels
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    if: startsWith(github.ref, 'refs/tags/protocol-v')
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: protocol-release
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1

  docs:
    needs: [publish]
    uses: ./.github/workflows/build-docs.yml
    with:
      package_dir: "livekit-protocol"
      package_name: "livekit.protocol"
    secrets: inherit
