name: Build RTC

on:
  push:
    branches: ["main"]
    tags: ["rtc-v*"]
  pull_request:
  workflow_dispatch:

env:
  PACKAGE_DIR: ./livekit-rtc

jobs:
  build_wheels:
    name: Build RTC wheels (${{ matrix.archs }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # wheels to build:
        include:
          - os: ubuntu-latest
            archs: x86_64
          - os: buildjet-4vcpu-ubuntu-2204-arm
            archs: aarch64
          - os: windows-latest
            archs: AMD64 # ignore windows arm64 for now
          - os: macos-latest
            archs: x86_64 arm64
    defaults:
      run:
        working-directory: ${{ env.PACKAGE_DIR }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-python@v4

      - name: Install cibuildwheel
        run: python3 -m pip install cibuildwheel==2.15.0

      - name: Build wheels
        run: python3 -m cibuildwheel --output-dir dist
        env:
          CIBW_ARCHS: ${{ matrix.archs }}

      - uses: actions/upload-artifact@v3
        with:
          name: rtc-release
          path: livekit-rtc/dist/*.whl

  make_sdist:
    name: Make RTC sdist
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.PACKAGE_DIR }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Build SDist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v3
        with:
          name: rtc-release
          path: livekit-rtc/dist/*.tar.gz

  publish:
    name: Publish RTC release
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    if: startsWith(github.ref, 'refs/tags/rtc-v')
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: rtc-release
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
