name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          lfs: true

      - uses: actions/setup-python@v4
      - name: Run tests
        run: |
          python3 ./livekit-rtc/rust-sdks/download_ffi.py --output livekit-rtc/livekit/rtc/resources
          pip3 install pytest ./livekit-protocol ./livekit-api ./livekit-rtc pydantic numpy
          pytest . --ignore=livekit-rtc/rust-sdks
